@using Newtonsoft.Json
@using razor_poc.Models.ViewModels
@model SiteSettingsViewModel

<div class="header">
    <img class="logo" src="@Model.SiteLogo.Href" title="@Model.SiteLogo.AltText" />
</div>

