@using Newtonsoft.Json
@using razor_poc.Models.ViewModels
@model SiteSettingsViewModel

<style>
    header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    span {
        margin: 0 20px
    }
</style>


<header>
    <img class="logo" src="@Model.SiteLogo.Href" title="@Model.SiteLogo.AltText" height="40px" /><span>Razor Poc </span>
</header>

